@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Hurricane&family=Inter:wght@400;500;700&display=swap");
*{
  margin:0px;
  padding:0px;
}
body {
  background: radial-gradient(circle,
      rgba(238, 234, 222, 1) 0%,
      rgba(181, 154, 133, 1) 61%,
      rgba(76, 63, 55, 1) 100%);
  font-family: "Arvo", serif;
}

h1 {
  margin: 0px 0px 0px 50px;
  font-family: "Hurricane", cursive;
  font-size: 50px;
  text-align: center;
}

header {
  grid-area: header;
  display: flex;
  align-content: center;
  justify-content: center;
}

nav {
  grid-area: nav;
  display: flex;
  align-content: center;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  margin: 10px 5px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  grid-area: main;
  padding: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

main h2 {
  text-align: center;
  font-family: "Hurricane", cursive;
  font-size: xx-large;
}

main h3 {
  text-align: center;
  font-family: "Hurricane", cursive;
  font-size: xx-large;
  margin: 0px;
}

footer {
  grid-area: footer;
  position: fixed;
  margin: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: radial-gradient(circle,
      rgba(238, 234, 222, 1) 0%,
      rgba(181, 154, 133, 1) 61%,
      rgba(76, 63, 55, 1) 100%);
}

footer img {
  width: 32px;
  margin: 10px;
}

article .content {
  display: flex;
  margin-bottom: 20px;
}

.title-right,
.content-right {
  text-align: right;
}

h5 {
  padding: 0px 15px;
}

article img {
  width: 150px;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 250px;
}

form textarea {
  width: 500px;
}

.datos .titulo,
.titulo-contacto,
.titulo-tips {
  margin-bottom: 10px;
}

.adopcion .titulo {
  margin: 50px 0px 10px 0px;
}
.ubicacion{
  display: flex;
  margin:25px 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.ubicacion ul{
  margin-left: 25px;
}
.ubicacion li{
  margin-bottom:15px;
}
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
button{
  margin-left: 5px;
}

table {
  width: 100%;
  border: 1px solid #000;
}

th,
td {
  width: 25%;
  text-align: center;
  vertical-align: center;
  border: 1px solid #000;
  padding: 5px;
}

th {
  background: wheat
}

.contenedor {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-columns: 5fr 3fr;
  }
  header {
    justify-content: flex-start;
    align-items: center;
  }
  nav {
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
  }
  nav ul li {
    padding-right: 5px;
  }
  @media (min-width: 1024px) {
    .contenedor {
      display: grid;
      height: 100vh;
      grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
      grid-template-rows: stretch 3fr stretch;
      grid-template-columns: 0.5fr 3.5fr;
    }
   nav ul {
      animation-duration: 3s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
        scrollbar-width: none;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
        scrollbar-width: none;
      }
    }
    header {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    nav {
      align-items: flex-start;
      margin-top: 200px;
    }
    nav ul li {
      display: flex;
      flex-direction: column;
    }
    main {
      display: flex;
      flex-direction: column;
    }
  }
}